.catalog-container {
    width: 1000px;
    margin: 40px auto;
    padding: 0 1rem;
    border-radius: 0.125rem;
}

ul {
    margin: 0;
    padding: 0;
}

ul.catalog {
    background-color: #fff;
}

.category {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.15rem;
    padding: 0.75rem 1.5rem;
    line-height: 1.45rem;
    margin: 0;
    background-color: #161616e8;
    color: #f3f2f2;
    align-items: center;
}

.objective {
    display: inline-flex;
    width: 100%;
    line-height: 1.45rem;
    justify-content: space-between;
    padding: 0.75rem 1.5rem;
    border-bottom: 1px solid #fcc;
    background-color: #f7f7f773;
    align-items: center;
}

.car {
    display: inline-flex;
    line-height: 1.45rem;
    width: 100%;
    justify-content: space-between;
    padding: 0.75rem 1.5rem 0.5rem 2rem;
    border-bottom: 1px solid #fcc;
    background-color: #d4d4d473;
    align-items: center;
}

ul p {
    margin-bottom: 0;
}

.actions {
    font-size: 0.825rem;
    width: 180px;
    text-align: left;
}

.name {
    color: rgb(59, 59, 59);
}

.category>p.name {
    color: #f3f2f2;
}

.edit-link {
    color: rgb(48, 0, 193);
}

.edit-link:hover {
    color: rgb(25 0 98);
}

.add-link {
    color: #306c16;
}

.add-link:hover,
.add-link:active {
    color: #3b9e10;
}

.category>.actions>.add-link {
    color: #61c933;
}

.category>.actions>.add-link:hover,
.category>.actions>.add-link:active {
    color: #3e9818;
}

.category>.actions>.edit-link {
    color: #00fff6;
}

.category>.actions>.edit-link:hover {
    color: #0d6efd;
}

.delete {
    color: rgb(229, 0, 0);
}

.delete:hover,
.delete:active {
    color: rgb(189, 0, 0);
}

.car .delete,
.objective .delete {
    color: rgb(189, 0, 0);
}

.car .delete:hover,
.objective .delete:hover {
    color: rgb(189, 0, 0);
}

.icon-block {
    background-color: #000000d1;
    border-radius: 0.375rem;
    margin: 0.75rem auto 2.5rem;
    width: 200px;
}

.icon-block img {
    width: 100px;
}

.image-block {
    margin: 0.75rem 0.75rem 2.5rem;
}

.image-block img {
    width: 200px;
}

.edit-block {
    margin: 30px auto;
}

.popular {
    border-radius: 0.375rem;
    margin-left: 15px;
    background-color: #398400a1;
    padding: 0.375rem 1rem;
    color: #ffffff;
}

@media only screen and (max-width: 1100px) {
    .catalog-container {
        width: 100%;
        min-width: 560px;
    }
}

@media only screen and (max-width: 767px) {
    body, html {
        font-size: var(--pc-font-size);
    }

    .icon-medium {
        vertical-align: baseline;
        width: 18.5px;
        margin-bottom: -4px;
        height: auto;
    }

    .icon-small {
        vertical-align: baseline;
        width: 16px;
        margin-bottom: -3.75px;
        height: auto;
    }
}