.slider {
    width: 100%;
    margin: 0.75rem auto;
    overflow: hidden;
    overflow-x: hidden;
    scroll-snap-type: mandatory;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
}

.outer-slider-block {
    width: 85%;
    margin: 0 auto;
    height: fit-content;
}

.slider-block {
    height: fit-content;
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
}

.slider-container {
    width: 100%;
    display: contents;
}

.slider-item {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    flex-grow: 0;
    flex-shrink: 0;
}

.slider-control {
    position: relative;
    left: 2.5%;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.slider-btn {
    display: none;
    cursor: pointer;
}